@model IEnumerable<redeSocial.Models.Ranking.Ranking>

@{
    ViewBag.Title = "Ranking";
    var posicao = 0;
}

<div id='operacoesRanking'>
	<div id='newPost'><span>Procurar</span></div>
	<div ></div>
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>
<div id="conteudoRanking">
    <table>
           <tr><td>Posição</td><td>Nome<td>Pontos</td><td>Vitórias</td><td>Duelos</td></tr>

            @foreach (var item in Model)
            {
                posicao ++;
                <tr>
                    <td>@posicao</td>
                    <td>@item.idUser</td>
                    <td>@item.Pontos</td>
                    <td>@item.Vitorias</td>
                    <td>@item.Duelos</td>
                </tr>
            }
    </table>
</div>
