@model IEnumerable<redeSocial.Models.Duelo.Duelo>

@{
    ViewBag.Title = "Duelos";
}

<div id='operacoesDuelo'>
   	<div id='newPost'>@Html.ActionLink("Criar Duelo","InserirDuelo","Duelo")</div>	
</div>

<div id='conteudoDuelos' class="teste">
        
    @* PARA CADA OBJ DA MINHA MODEL, EU JOGO NO ITEM *@
    @foreach(var item in Model){
        
        var status  = "None";

        // > 0, ENTAO 1º DATA É MAIOR
        // < 0, ENTAO 2º DATA É MAIOR
        // = 0, ENTAO SAO IGUAIS
        var compInicio = DateTime.Compare(@DateTime.Today, @item.Inicio);
        var compTermino = DateTime.Compare(@DateTime.Today, @item.Termino);
        
        if(@compInicio < 0){
            status = "Inscrições";                    
        }
        else if (@compTermino > 0)
        {
            status = "Encerrado";      
        }
        else{
            status = "Votação";  
        }

    
        <div class='duelo'>
            <span>@item.IdDuelo - Duelo de @item.Tipo <br><br> 
                Criador: @item.IdCriador<br>
                Status: @status<br><br>
               
                @if(status == "Inscrições"){
                    <div class="botaoVisualizar">@Html.ActionLink("Inscrever-me", "VerInscricaoDuelo", "Inscricao", new { id = @item.IdDuelo }, null)</div>
                }
                else if (status == "Votação"){
                    <div class="botaoVisualizar">@Html.ActionLink("Votar", "ViewVotarDuelo", "Inscricao", new { id = @item.IdDuelo }, null)</div>
                }
                else{
                    <div class="botaoVisualizar">@Html.ActionLink("Resultado", "VerInscricaoDuelo", "Inscricao", new { id = @item.IdDuelo }, null)</div>
                }
                 
            </span>
        </div>
    }

	
	<!-- <div id='busca'><input type='text' placeholder='Buscar'></div> -->
</div>